apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudmart-config
data:
  backend_url: "http://{{ '{{' }} (kubectl get svc cloudmart-backend-service -o jsonpath='{.status.loadBalancer.ingress[0].hostname}') {{ '}}' }}/api"
