apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudmart-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloudmart-backend
  template:
    metadata:
      labels:
        app: cloudmart-backend
    spec:
      serviceAccountName: cloudmart-pod-execution-role
      containers:
      - name: cloudmart-backend
        image: {{ backend_ecr_repo }}:latest
        ports:
        - containerPort: 5000
        env:
        - name: PORT
          value: "5000"
        - name: AWS_REGION
          value: "{{ aws_region }}"
        resources:
          limits:
            cpu: "0.5"
            memory: "512Mi"
          requests:
            cpu: "0.2"
            memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: cloudmart-backend-service
spec:
  selector:
    app: cloudmart-backend
  ports:
  - port: 80
    targetPort: 5000
  type: LoadBalancer
