apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudmart-frontend
  labels:
    app: cloudmart-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudmart-frontend
  template:
    metadata:
      labels:
        app: cloudmart-frontend
    spec:
      containers:
      - name: cloudmart-frontend
        image: {{ lookup('env', 'AWS_ACCOUNT_ID') | default('445567090747') }}.dkr.ecr.{{ aws_region }}.amazonaws.com/cloudmart-frontend:latest
        ports:
        - containerPort: 5001
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        env:
        - name: VITE_API_BASE_URL
          value: "http://cloudmart-backend-service/api"
---
apiVersion: v1
kind: Service
metadata:
  name: cloudmart-frontend-service
spec:
  selector:
    app: cloudmart-frontend
  ports:
  - port: 80
    targetPort: 5001
  type: LoadBalancer
